input.spinner {
	width: 50px;
}

/*------------------------------------------------------------------------------------------------*/

table tr.buttons td {
	padding-bottom: 0;

	button {
		margin-bottom: 5px;
	}

	label.ui-checkboxradio-label {
		margin-bottom: 5px;
	}
}

/*------------------------------------------------------------------------------------------------*/

section#game {

	img#thumbnail {
		max-height: 100px;
		max-width: 100px;
	}
}

/*------------------------------------------------------------------------------------------------*/

table#Parameters {
	display: inline-block;
}

/*------------------------------------------------------------------------------------------------*/

#GamesList div {
	border-bottom: 1px solid #434343;
	display: inline-block;
	height: 50px;
	padding: 5px 10px;
	width: 250px;

	span {
		display: inline-block;
		vertical-align: middle;

		&.thumbnail {
			text-align: center;
			height: 50px;
			margin: 0 10px 0 0;
			width: 50px;

			img {
				max-height: 50px;
				max-width: 50px;
			}
		}
	}
}
